.new {
animation:child 2s infinite ;
}
.year {
    animation:child 2s infinite ;
}
.card {
    background-color: rgb(11, 51, 210)  ;
    position: absolute;
height:100% ;
width:100% ;
}
.tree {
    position: absolute;
    bottom:200px ;
    animation:toy 5s infinite alternate ;
}
.present {
}
.sweets {
    position: absolute;
width:100px ;
height:100px ;
left:800px ;
bottom:500px ;
animation:toy 3s infinite alternate ;
}
@keyframes toy{ 
    50%{ 
        transform: scale(0.5);
    }
    100%{ 
        transform: scale(1);
    }
}

@keyframes child{ 
0%{ 
    color: rgb(213, 5, 36);
}
50%{ 
    color: green;
}
100%{ 
    color:yellow ;
}



}




























